body.home{
    background: linear-gradient(180deg, #00b972 0%, #00b6a7 50%) no-repeat center center;
    width: 100%;
    margin: 0px;
    overflow: visible;
}

body.styles{
    background: linear-gradient(180deg, #0072b4 0%, #2800bb 100%) no-repeat center center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: visible;
}

body.extras{
    background: linear-gradient(180deg, #6300b4 0%, #6e008a 100%) no-repeat center center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: visible;
}

nav.navBar{
    top: 100;
    align-items: baseline;
    width: 100%;
    text-align: right;
    overflow: visible;
    top: 0;
}

a.logo{
    background: #404040;
    padding-left: 16px;
    padding-right: 16px;
}

a.logo:hover{
    background: #8f8f8f;
}

a.links{
    background: #000000;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    left: -10px;
    height: 100px;
    width: 150px;
    box-shadow:inset 4px 4px 0px 0px #00000001;
    font-family: Arial, Helvetica, sans-serif;
}

a.home{
    background: #00ff9d;
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 4px 4px 0px 0px #00000080;
    font-family: Arial, Helvetica, sans-serif;
}

a.styles{
    background: #0099ff;
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 4px 4px 0px 0px #00000080;
    font-family: Arial, Helvetica, sans-serif;
}

a.extras{
    background: #8c00ff;
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 4px 4px 0px 0px #00000080;
    font-family: Arial, Helvetica, sans-serif;
}

a.links:hover{
    background: #FFFFFF;
    text-decoration: none;
    color: #000000;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset -4px -4px 0px 0px #00000080;
    transition: background-color 0.125s, color 0.125s;
}

div.navContainer{
    z-index: 50;
    align-content: end;
    text-align: right;
    background: #000000;
    display: flex;
    align-items: center;
    height: 66px;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    box-shadow: 0px 10px 8px 0px #00000080;
}

div.pageContent{
    padding-top: 100px;
}

/* HOME PAGE CONTENT CSS */
div.welcomePer{
    perspective: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.welcome{
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    margin-bottom: 20px;
    animation: swing 5s infinite alternate ease-in-out;
}

div.siteName{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-bottom: 100px;
    font-size: 40px;
}

div.pageOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
}

div.styleList, div.extraList{
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    padding-bottom: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 8px 0px #00000080;
    border: 4px solid #000000;
}

h1.subTitle{
    font-size: 80px;
    width: 100%;
    height: 133px;
    margin-top: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 50px;
    color: #FFFFFF;
    background: #414141;
}

h2.subCatInfo{
    font-size: 20px;
    width: 90%;
}

a.homeSelBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80px;
    margin-top: 100px;
    border-radius: 10px;
    font-size: 33px;
    border: 2px solid #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.homeSelBtn:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    transform: translate(0px, -3px) scale(110%, 110%);
    box-shadow: 0px 10px 8px 0px #00000080;
    transition: transform 0.125s, box-shadow 0.125s;
}

a.sBtn{
    background: #0011ff;
}

a.sBtn:hover{
    background: #7e80ff;
}

a.eBtn{
    background: #8400ff;
}

a.eBtn:hover{
    background: #be79ff;
}

@keyframes swing{
    0% { transform: rotateY(-15deg); }
    100% { transform: rotateY(15deg); }
}

@keyframes homeFadeBg{
    0% { background: #00ff9d no-repeat center center; }
    100% { background: #00ccbb no-repeat center center; }
}

@keyframes stylesFadeBg{
    0% { background: #00a2ff no-repeat center center; }
    100% { background: #3700ff no-repeat center center; }
}

@keyframes extrasFadeBg{
    0% { background: #8c00ff no-repeat center center; }
    100% { background: #9f00c7 no-repeat center center; }
}
/* END HOME PAGE CONTENT CSS */



/* STYLES PAGE CONTENT CSS */
h1.stylesTitle{
    padding-top: 25px;
    padding-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 80px;
}

div.styleChart{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul.stylesList{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 600px;
}

a.styleItem{
    display: flex;
    align-items: left;
    justify-content: baseline;
    color: #000000;
    background: #FFFFFF;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(100%, 100%);
    transition: transform 0.125s;
    border: 4px solid #000000;
}

a.styleItem:hover{
    animation: wiggle 0.125s 1 normal ease-out;
    transform: scale(105%, 125%);
    border: 4px solid #ff9900;
}
li.styleItemLink{
    margin-left: 0px;
    width: 100%;
}

a{
    text-decoration: none;
}

div.styleItemHead{
    background: #414141;
    color: white;
    width: 100%;
}

div.styleItemDesc{
    margin-left: 0px;
    margin-top: 10px;
}

@keyframes wiggle{
    0%{ transform: scale(100%, 100%);}
    100%{ transform: scale(105%, 125%);}
}

/* STYLE COLOR */
div.styleContent{
        background: white;
        border-radius: 10px;
        width: 90%;
        padding: 20px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
}

h1.styleDesc{
    margin-bottom: 100px;
}

div.styleCode{
    width: 80%;
    padding: 20px;
    background: rgb(41, 41, 41);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

div.styleResult{
    width: 50%;
    height: 500px;
    border: 4px solid #000000;
    overflow: hidden;
}

div.colorResult{
    width: 100%;
    height: inherit;
    color: red;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
}

div.backgroundResult{
    width: 100%;
    height: inherit;
    background: blue;
    font-size: 40px;
}

/* EXTRAS CODE */
div.extraStyle{
    background: white;
    border-radius: 10px;
    width: 90%;
}

div.fontResult{
    width: 100%;
    height: inherit;
    background: rgb(255, 255, 255);
    font-size: 40px;
    font-family: fantasy, copperplate;
}

div.marginResult{
    width: 50%;
    height: 50%;
    overflow: visible;
    margin: 0px;
    background-color: #808080;
}

h1.marginResult{
    margin-left: 250px;
    width: 100%;
}

div.cursorResult{
    background: rgb(41, 41, 41);
    width: 100%;
    height: inherit;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;
}

div.extraWiggleResult{
    margin-left: 100px;
    margin-top: 100px;
    background: #00ffaa;
    width: 166px;
    height: 100px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
}

div.extraWiggleResult:hover{
    animation: wiggleB 0.25s 1 normal ease-out;
}

@keyframes wiggleB{
    0% { transform: rotate(-5deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}
